<?xml version="1.0"?>
<!--
/**
 * Virtina
 * @package    Virtina_Attachments
 * @copyright  Copyright (coffee) 2015-2016 Virtina. (http://www.virtina.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Virtina_Attachments>
            <version>0.0.1</version>
        </Virtina_Attachments>
    </modules>
    <frontend>
        <routers>
            <attachments>
                <use>standard</use>
                <args>
                    <module>Virtina_Attachments</module>
                    <frontName>attachments</frontName>
                </args>
            </attachments>
        </routers>
        <layout>
            <updates>
                <attachments>
                    <file>catalog-attachments.xml</file>
                </attachments>
            </updates>
        </layout>
		<translate>
			<modules>
				<Virtina_Attachments>
					<files>
						<default>Virtina_Attachments.csv</default>
					</files>
				</Virtina_Attachments>
			</modules>
		</translate>
    </frontend>    
    <global>
        <blocks>
            <attachments>
                <class>Virtina_Attachments_Block</class>
            </attachments>
        </blocks>
        <helpers>
            <attachments>
                <class>Virtina_Attachments_Helper</class>
            </attachments>
        </helpers>
        <models>
            <attachments>
                <class>Virtina_Attachments_Model</class>
                <resourceModel>attachments_mysql4</resourceModel>
            </attachments>
			  <attachments_mysql4>
					<class>Virtina_Attachments_Model_Mysql4</class>
					<entities>
						<attachment>
							<table>virtina_attachment</table>
						</attachment>
						<attachmentproduct>
							<table>virtina_attachment_product</table>
						</attachmentproduct>
					</entities>
			  </attachments_mysql4>            
        </models>
        <resources>
			<vattachments_setup>
				<setup>
				 <module>Virtina_Attachments</module>
				</setup>
				<connection>
				  <use>core_setup</use>
				</connection>                
			</vattachments_setup>
			<attachments_write>
				<connection>
					<use>core_write</use>
				</connection>
			</attachments_write>
			<attachments_read>
				<connection>
					<use>core_read</use>
				</connection>
			</attachments_read>            
        </resources>        
    </global>    
 	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Virtina_Attachments before="Mage_Adminhtml">Virtina_Attachments_Adminhtml</Virtina_Attachments>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>    
    <adminhtml>
        <layout>
            <updates>
                <attachments>
                    <file>catalog-attachments.xml</file>
                </attachments>
            </updates>
        </layout>        
        <translate>
            <modules>
                <Virtina_Attachments>
                    <files>
                        <default>Virtina_Attachments.csv</default>
                    </files>
                </Virtina_Attachments>
            </modules>
        </translate>
        <events>
            <catalog_product_save_after>
                <observers>
                    <attachments_attachment_product>
                        <type>singleton</type>
                        <class>attachments/adminhtml_observer</class>
                        <method>saveProductAttachmentInfo</method>
                    </attachments_attachment_product>
                </observers>
            </catalog_product_save_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <attachments_attachment_product>
                        <type>singleton</type>
                        <class>attachments/adminhtml_observer</class>
                        <method>addProductAttachmentBlock</method>
                    </attachments_attachment_product>
                </observers>
            </core_block_abstract_prepare_layout_after>            
        </events>
    </adminhtml>
	<default>
	   <virtina_attachments>
			<attachment>
				<attachallowed>jpg,png,bmp,csv,zip,mp3,mp4,zip,pdf,doc,docx,xls,xlx,txt</attachallowed>
			</attachment>
			<attachment>
				<tabheading>ATTACHEMENTS</tabheading>
			</attachment>
	   </virtina_attachments>		   
	</default>      
</config>
